{
  "presets": [
    /**
     * Plugins run before presets.
     * Presets run last to first.
     * Plugins run first to last.
     *
     * https://babeljs.io/docs/plugins/#plugin-preset-ordering
     */
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 version"
          ]
        },
        "useBuiltIns": false,
        "modules": false
      }
    ],
    "react",
    {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "flow-react-proptypes"
      ]
    }
  ],
  "env": {
    "production": {
      "plugins": [
        /** optimize react component code */
        "babel-plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        /**
         * Re-write mineral package imports.
         *
         * Dev server build and test build use LOCAL module paths.
         * Prod build uses PACKAGE module paths.
         */
        [
          "module-resolver",
          {
            "cwd": "babelrc",
            "alias": {
              "^@mineral-ui/([^\/]+)(\/.*)?": "./packages/\\1/src\\2"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        /**
         * Jest runs in Node, thus requires ES modules to be transpiled to CommonJS modules.
         */
        "transform-es2015-modules-commonjs",
        [
          "module-resolver",
          {
            "cwd": "babelrc",
            "alias": {
              "^@mineral-ui/([^\/]+)(\/.*)?": "./packages/\\1/src\\2"
            }
          }
        ]
      ],
      "retainLines": true,
      "sourceMap": "inline"
    }
  }
}