{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "emotion",
    "jsx-a11y",
    "prettier",
    "react"
  ],
  "rules": {
    "curly": ["error", "all"],
    "emotion/syntax-preference": ["error", "object"],
    "flowtype/no-types-missing-file-annotation": 0,
    "jsx-a11y/label-has-for": ["error", {
      "required": {
        "some": ["nesting", "id"]
      },
      "allowChildren": true
    }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "no-unused-vars": ["error", { "vars": "all", "varsIgnorePattern": "[Ii]gnore" }],
    "react/display-name": ["error", { "ignoreTranspilerName": true }],

    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "varsIgnorePattern": "[Ii]gnore" }],
    "@typescript-eslint/no-var-requires": "off"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.6.3"
    }
  }
}
