$mnrl-backgroundColor-active: #ebeff5;
$mnrl-backgroundColor-disabled: #dde3ed;
$mnrl-backgroundColor-focus: #f5f7fa;
$mnrl-backgroundColor-hover: #f5f7fa;
$mnrl-backgroundColor-brand-selected: #f0f5fc;
$mnrl-backgroundColor-brand-selectedActive: #accbfc;
$mnrl-backgroundColor-brand-selectedHover: #cfe0fc;
$mnrl-backgroundColor-brandPrimary: #3272d9;
$mnrl-backgroundColor-brandPrimary-active: #1d5bbf;
$mnrl-backgroundColor-brandPrimary-focus: #3272d9;
$mnrl-backgroundColor-brandPrimary-hover: #5691f0;
$mnrl-backgroundColor-danger-active: #fad4d4;
$mnrl-backgroundColor-danger-focus: #faf0f0;
$mnrl-backgroundColor-danger-hover: #faf0f0;
$mnrl-backgroundColor-dangerPrimary: #de1b1b;
$mnrl-backgroundColor-dangerPrimary-active: #b80d0d;
$mnrl-backgroundColor-dangerPrimary-focus: #de1b1b;
$mnrl-backgroundColor-dangerPrimary-hover: #f55353;
$mnrl-backgroundColor-success-active: #abedc5;
$mnrl-backgroundColor-success-focus: #e1faeb;
$mnrl-backgroundColor-success-hover: #e1faeb;
$mnrl-backgroundColor-successPrimary: #2a854e;
$mnrl-backgroundColor-successPrimary-active: #20693d;
$mnrl-backgroundColor-successPrimary-focus: #2a854e;
$mnrl-backgroundColor-successPrimary-hover: #3ba164;
$mnrl-backgroundColor-warning-active: #fad8af;
$mnrl-backgroundColor-warning-focus: #fcf2e6;
$mnrl-backgroundColor-warning-hover: #fcf2e6;
$mnrl-backgroundColor-warningPrimary: #ad5f00;
$mnrl-backgroundColor-warningPrimary-active: #8a4d03;
$mnrl-backgroundColor-warningPrimary-focus: #ad5f00;
$mnrl-backgroundColor-warningPrimary-hover: #cf7911;
$mnrl-borderColor: #c8d1e0;
$mnrl-borderColor-brand: #3272d9;
$mnrl-borderColor-brand-active: #1d5bbf;
$mnrl-borderColor-brand-focus: #1d5bbf;
$mnrl-borderColor-brand-hover: #5691f0;
$mnrl-borderColor-danger: #de1b1b;
$mnrl-borderColor-danger-active: #b80d0d;
$mnrl-borderColor-danger-focus: #b80d0d;
$mnrl-borderColor-danger-hover: #f55353;
$mnrl-borderColor-success: #2a854e;
$mnrl-borderColor-success-active: #20693d;
$mnrl-borderColor-success-focus: #20693d;
$mnrl-borderColor-success-hover: #3ba164;
$mnrl-borderColor-warning: #ad5f00;
$mnrl-borderColor-warning-active: #8a4d03;
$mnrl-borderColor-warning-focus: #8a4d03;
$mnrl-borderColor-warning-hover: #cf7911;
$mnrl-borderRadius-1: 3px;
$mnrl-boxShadow-1: 0 1px 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-2: 0 2px 4px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-3: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2);
$mnrl-boxShadow-4: 0 8px 16px 0 rgba(0,0,0,0.2), 0 20px 16px -8px rgba(0,0,0,0.2);
$mnrl-boxShadow-5: 0 16px 24px 0 rgba(0,0,0,0.2), 0 32px 24px -16px rgba(0,0,0,0.2);
$mnrl-breakpoint-narrow: 512px;
$mnrl-breakpoint-medium: 768px;
$mnrl-breakpoint-wide: 1024px;
$mnrl-color: #333840;
$mnrl-color-inverted: #ffffff;
$mnrl-color-disabled: #afbacc;
$mnrl-color-mouse: #58606e;
$mnrl-color-readOnly: #58606e;
$mnrl-color-required: #de1b1b;
$mnrl-color-brand: #3272d9;
$mnrl-color-brandPrimary: #ffffff;
$mnrl-color-brand-active: #1d5bbf;
$mnrl-color-brand-focus: #3272d9;
$mnrl-color-brand-hover: #5691f0;
$mnrl-color-danger: #de1b1b;
$mnrl-color-dangerPrimary: #ffffff;
$mnrl-color-danger-active: #b80d0d;
$mnrl-color-danger-focus: #de1b1b;
$mnrl-color-danger-hover: #f55353;
$mnrl-color-success: #2a854e;
$mnrl-color-successPrimary: #ffffff;
$mnrl-color-success-active: #20693d;
$mnrl-color-success-focus: #2a854e;
$mnrl-color-success-hover: #3ba164;
$mnrl-color-warning: #ad5f00;
$mnrl-color-warningPrimary: #ffffff;
$mnrl-color-warning-active: #8a4d03;
$mnrl-color-warning-focus: #ad5f00;
$mnrl-color-warning-hover: #cf7911;
$mnrl-fontFamily: "Open Sans";
$mnrl-fontFamily-system: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mnrl-fontFamily-monospace: "SF Mono", "Droid Sans Mono", "Source Code Pro", Monaco, Consolas, "Courier New", Courier, monospace;
$mnrl-fontSize-base: 1rem;
$mnrl-fontSize-mouse: 0.6875rem;
$mnrl-fontSize-prose: 1rem;
$mnrl-fontSize-ui: 0.875rem;
$mnrl-fontWeight-regular: 400;
$mnrl-fontWeight-semiBold: 600;
$mnrl-fontWeight-bold: 700;
$mnrl-fontWeight-extraBold: 800;
$mnrl-lineHeight: 1.25;
$mnrl-lineHeight-heading: 1.25;
$mnrl-lineHeight-heading-small: 1.5;
$mnrl-lineHeight-prose: 1.5;
$mnrl-size-small: 24px;
$mnrl-size-medium: 32px;
$mnrl-size-large: 40px;
$mnrl-size-jumbo: 52px;
$mnrl-space-inline-xxs: 2px;
$mnrl-space-inline-xs: 4px;
$mnrl-space-inline-sm: 8px;
$mnrl-space-inline-md: 16px;
$mnrl-space-inline-lg: 24px;
$mnrl-space-inline-xl: 32px;
$mnrl-space-inline-xxl: 64px;
$mnrl-space-inset-sm: 8px;
$mnrl-space-inset-md: 16px;
$mnrl-space-inset-lg: 24px;
$mnrl-space-stack-xxs: 2px;
$mnrl-space-stack-xs: 4px;
$mnrl-space-stack-sm: 8px;
$mnrl-space-stack-md: 16px;
$mnrl-space-stack-lg: 24px;
$mnrl-space-stack-xl: 32px;
$mnrl-space-stack-xxl: 64px;
$mnrl-zIndex-100: 100;
$mnrl-zIndex-200: 200;
$mnrl-zIndex-400: 400;
$mnrl-zIndex-800: 800;
$mnrl-zIndex-1600: 1600;
$mnrl-h1-color: #333840;
$mnrl-h1-fontSize: 2.125rem;
$mnrl-h1-fontWeight: 800;
$mnrl-h2-color: #58606e;
$mnrl-h2-fontSize: 1.75rem;
$mnrl-h2-fontWeight: 700;
$mnrl-h3-color: #58606e;
$mnrl-h3-fontSize: 1.375rem;
$mnrl-h3-fontWeight: 700;
$mnrl-h4-color: #58606e;
$mnrl-h4-fontSize: 1.125rem;
$mnrl-h4-fontWeight: 700;
$mnrl-h5-color: #333840;
$mnrl-h5-fontSize: 0.875rem;
$mnrl-h5-fontWeight: 700;
$mnrl-h6-color: #58606e;
$mnrl-h6-fontSize: 0.875rem;
$mnrl-h6-fontWeight: 400;
$mnrl-icon-color: #58606e;
$mnrl-icon-color-brand: #3272d9;
$mnrl-icon-color-danger: #de1b1b;
$mnrl-icon-color-success: #2a854e;
$mnrl-icon-color-warning: #ad5f00;
$mnrl-input-backgroundColor: #ffffff;
$mnrl-input-backgroundColor-disabled: #ebeff5;
$mnrl-input-color-placeholder: #8e99ab;
$mnrl-panel-backgroundColor: #ffffff;
$mnrl-panel-backgroundColor-inverted: #434a54;
$mnrl-panel-borderColor: #ebeff5;
$mnrl-panel-borderColor-inverted: #434a54;
$mnrl-well-backgroundColor: #ebeff5;
$mnrl-well-backgroundColor-danger: #fad4d4;
$mnrl-well-backgroundColor-success: #abedc5;
$mnrl-well-backgroundColor-warning: #fad8af;
$mnrl-well-borderColor-danger: #fa8e8e;
$mnrl-well-borderColor-success: #57c282;
$mnrl-well-borderColor-warning: #e89c3f;
$mnrl-black: #1d1f24;
$mnrl-white: #ffffff;
$mnrl-brand-10: #f0f5fc;
$mnrl-brand-20: #cfe0fc;
$mnrl-brand-30: #accbfc;
$mnrl-brand-40: #84b1fa;
$mnrl-brand-50: #5691f0;
$mnrl-brand-60: #3272d9;
$mnrl-brand-70: #1d5bbf;
$mnrl-brand-80: #114599;
$mnrl-brand-90: #103570;
$mnrl-brand-100: #15233b;
$mnrl-blue-10: #f0f5fc;
$mnrl-blue-20: #cfe0fc;
$mnrl-blue-30: #accbfc;
$mnrl-blue-40: #84b1fa;
$mnrl-blue-50: #5691f0;
$mnrl-blue-60: #3272d9;
$mnrl-blue-70: #1d5bbf;
$mnrl-blue-80: #114599;
$mnrl-blue-90: #103570;
$mnrl-blue-100: #15233b;
$mnrl-bronze-10: #fcf2e6;
$mnrl-bronze-20: #fad8af;
$mnrl-bronze-30: #f5bc76;
$mnrl-bronze-40: #e89c3f;
$mnrl-bronze-50: #cf7911;
$mnrl-bronze-60: #ad5f00;
$mnrl-bronze-70: #8a4d03;
$mnrl-bronze-80: #693d07;
$mnrl-bronze-90: #4d2f0b;
$mnrl-bronze-100: #33210c;
$mnrl-dusk-10: #f4f2f7;
$mnrl-dusk-20: #e3dcf7;
$mnrl-dusk-30: #cec2f0;
$mnrl-dusk-40: #b5a6e3;
$mnrl-dusk-50: #9886cf;
$mnrl-dusk-60: #7a68b3;
$mnrl-dusk-70: #645396;
$mnrl-dusk-80: #4f4178;
$mnrl-dusk-90: #3a3154;
$mnrl-dusk-100: #282436;
$mnrl-gray-10: #f5f7fa;
$mnrl-gray-20: #ebeff5;
$mnrl-gray-30: #dde3ed;
$mnrl-gray-40: #c8d1e0;
$mnrl-gray-50: #afbacc;
$mnrl-gray-60: #8e99ab;
$mnrl-gray-70: #707a8a;
$mnrl-gray-80: #58606e;
$mnrl-gray-90: #434a54;
$mnrl-gray-100: #333840;
$mnrl-green-10: #e1faeb;
$mnrl-green-20: #abedc5;
$mnrl-green-30: #7ddba3;
$mnrl-green-40: #57c282;
$mnrl-green-50: #3ba164;
$mnrl-green-60: #2a854e;
$mnrl-green-70: #20693d;
$mnrl-green-80: #1a5230;
$mnrl-green-90: #153d25;
$mnrl-green-100: #112b1b;
$mnrl-indigo-10: #f2f2fc;
$mnrl-indigo-20: #dcdcfc;
$mnrl-indigo-30: #c2c2fc;
$mnrl-indigo-40: #a7a7fa;
$mnrl-indigo-50: #8585f2;
$mnrl-indigo-60: #6767e6;
$mnrl-indigo-70: #4d4dd1;
$mnrl-indigo-80: #3737b3;
$mnrl-indigo-90: #28288a;
$mnrl-indigo-100: #202057;
$mnrl-magenta-10: #faf0f4;
$mnrl-magenta-20: #fad4e4;
$mnrl-magenta-30: #fab4d1;
$mnrl-magenta-40: #f78bb8;
$mnrl-magenta-50: #ed5393;
$mnrl-magenta-60: #d6246e;
$mnrl-magenta-70: #b01355;
$mnrl-magenta-80: #8a1244;
$mnrl-magenta-90: #611535;
$mnrl-magenta-100: #421527;
$mnrl-purple-10: #f5f0fa;
$mnrl-purple-20: #ead9fa;
$mnrl-purple-30: #dabcf7;
$mnrl-purple-40: #c79bf2;
$mnrl-purple-50: #ae74e8;
$mnrl-purple-60: #9656d6;
$mnrl-purple-70: #7d3cbd;
$mnrl-purple-80: #642b9e;
$mnrl-purple-90: #4b2175;
$mnrl-purple-100: #371c52;
$mnrl-red-10: #faf0f0;
$mnrl-red-20: #fad4d4;
$mnrl-red-30: #fab6b6;
$mnrl-red-40: #fa8e8e;
$mnrl-red-50: #f55353;
$mnrl-red-60: #de1b1b;
$mnrl-red-70: #b80d0d;
$mnrl-red-80: #8f0e0e;
$mnrl-red-90: #661414;
$mnrl-red-100: #451717;
$mnrl-sky-10: #e8f4fa;
$mnrl-sky-20: #bbe5fa;
$mnrl-sky-30: #8dd4f7;
$mnrl-sky-40: #53baed;
$mnrl-sky-50: #229ad6;
$mnrl-sky-60: #0c7bb3;
$mnrl-sky-70: #066391;
$mnrl-sky-80: #064d70;
$mnrl-sky-90: #093952;
$mnrl-sky-100: #0c2938;
$mnrl-slate-10: #edf4f7;
$mnrl-slate-20: #cbe3f5;
$mnrl-slate-30: #a7ceeb;
$mnrl-slate-40: #84b7db;
$mnrl-slate-50: #5e95bd;
$mnrl-slate-60: #48799c;
$mnrl-slate-70: #376180;
$mnrl-slate-80: #2d4d63;
$mnrl-slate-90: #243947;
$mnrl-slate-100: #1d2830;
$mnrl-teal-10: #e4f7f6;
$mnrl-teal-20: #a8ede9;
$mnrl-teal-30: #6cd9d2;
$mnrl-teal-40: #45bfb7;
$mnrl-teal-50: #28a199;
$mnrl-teal-60: #17827b;
$mnrl-teal-70: #116963;
$mnrl-teal-80: #0d524d;
$mnrl-teal-90: #0b3d3a;
$mnrl-teal-100: #092b29;