$tokens: (
  color: (
    interactive: #53bbd4,
    gray: #d8d8d8,
    grayLight: #f6f6f6,
    grayDark: #808285
  ),
  font-size: (
    _1: 0.8rem,
    _2: 1rem,
    _3: 1.4rem,
    _4: 2.2rem
  ),
  measurement: (
    _1: 0.25rem,
    _2: 0.5rem,
    _3: 1rem,
    _4: 2rem
  )
);

@function color($color) {
  $colors: map-get($tokens, color);
  @return map-get($colors, $color);
}

@function font-size($font-size) {
  $font-sizes: map-get($tokens, font-size);
  @return map-get($font-sizes, $font-size);
}

@function measurement($measurement) {
  $measurements: map-get($tokens, measurement);
  @return map-get($measurements, $measurement);
}

@mixin h1() {
  font-size: font-size(_4);
  margin-bottom: measurement(_2);
}

@mixin h2() {
  font-size: font-size(_3);
  margin-bottom: measurement(_2);
}

@mixin h3() {
  font-size: font-size(_2);
}

@mixin link() {
  &:link,
  &:visited {
    color: color(interactive);
  }

  &:hover,
  &:focus {
    color: darken(color(interactive), 10);
  }

  &:active {
    color: darken(color(interactive), 15);
  }
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

code {
  background-color: color(grayLight);
  border-radius: measurement(_1);
  color: color(grayDark);
  display: inline-block;
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  font-size: smaller;
  padding: measurement(_1) measurement(_2);
}
